<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Login | AC4 </title>
    </head>
    <body>
        <form action="gravar" method="post">
            <div class="campo">
                <label for="nome">Nome:</label>
                <input type="text" name="nome"/>
            </div>
            <div class="campo">
                <label for="email">Email:</label>
                <input type="text" name="email"/>
            </div>
            <div class="campo">
                <label for="senha">Senha:</label>
                <input type="password" name="senha"/>
            </div>
            <br>
            <div class="campo">
                <input type="submit" value="enviar" />
            </div>
        </form>
    </body>
</html>